<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_616991_5yeulp2xj1gd5cdi.css">
    
</head>

<body>
    <div id="admin-app">
        <div class="admin-app__header">
            <h1>匠人牛品集团后台</h1>
            <div class="account">
                <div class="subopen">
                    <div class="logo"></div>
                    <span>管理</span>
                    <i class="iconfont icon-triangle-down"></i>
                </div>
                <div class="submenu" style="display:none">
                    <i class="fa fa-angle-double-right"></i>
                    <span>注销</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="header.js"></script>
</html>