<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_616991_5yeulp2xj1gd5cdi.css">

    <title>Document</title>
    <link rel="stylesheet" href="menu.css">
    <script src="config.js"></script>
</head>

<body>
    <div id="admin-app">
        <div class="admin-app-menu">
            <ul>
                <li>
                    <div class="menu-bar">
                        <i class="iconfont icon-mendian"></i>
                        <span>门店管理</span>
                        <i class="iconfont icon-triangle-down"></i>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/store-list">门店列表</p>
                    </div>
                </li>
                <li>
                    <div class="menu-bar">
                        <i class="iconfont icon-huodong"></i>
                        <span>活动管理</span>
                        <i class="iconfont icon-triangle-down"></i>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/first-touch">首次关注送券</p>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/weixin-item">微信商品券</p>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/weixin-leter">微信立减券</p>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/weixin-zk">微信折扣券</p>
                    </div>
                </li>
                <li>
                    <div class="menu-bar">
                        <i class="iconfont icon-vipcard"></i>
                        <span>会员卡管理</span>
                        <i class="iconfont icon-triangle-down"></i>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/">会员卡详情</p>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/">会员列表</p>
                    </div>
                </li>
                <li>
                    <div class="menu-bar">
                        <i class="iconfont icon-dingdan"></i>
                        <span>订单管理</span>
                        <i class="iconfont icon-triangle-down"></i>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/">订单列表</p>
                    </div>
                </li>
                <li>
                    <div class="menu-bar">
                        <i class="iconfont icon-zhangben"></i>
                        <span>对账管理</span>
                        <i class="iconfont icon-triangle-down"></i>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/">门店对账</p>
                    </div>
                    <div class="menu-item">
                        <div class="item"></div>
                        <p data-href="#/">储值消费详情</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="menu.js"></script>

</html>